<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://domain.tld/mobile.css" type="text/css" media="handheld" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="/css/normalize.css">
  <!-- STYLES HERE LOL -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Touché</title>
</head>
<body>
  <%= yield %>
</body>
</html>
